@use './variables';

.button {
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: variables.$background-blue;
    border: solid transparent 1px;
    border-radius: 0.25em;
    &:hover {
        cursor: pointer;
        border: 1px solid variables.$hover-border;
    }
}