$gray-border: gray;
$dropzone-border: rgb(189, 189, 189);

.imageForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1em max-content max-content;
    width: max-content;
    grid-gap: 1em 0;
    margin: 4em auto 2em;
    justify-content: center;
}
.imageDropZone {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: block;
    height: 6em;
    width: 14em;
    border: 1px solid $gray-border;
    > * + * {
        border-top: 1px solid $dropzone-border;
    }
}
.imageErrorMsg {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 0.85rem;
    width: max-content;
    justify-self: center;
}
.imageInputLabel {
    // Select from files button
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: block;
    padding: 0.5em 0;
    width: 7.65em;
    justify-self: center;
}
.submitButton {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: block;
    width: 10em;
    padding: 1em;
    margin-top: 1.5em;
    justify-self: center;
}
