$button-background-color: rgb(131, 131, 131);
$hover-blue: rgb(31, 31, 253);

.imageDragPrompt {
    display: block;
    text-align: center;
    padding: 2.25em 0;
}
.imageDropZone_hover {
    // Activeated when dragging an image over the drop zone
    box-shadow: 0.2px 0.2px 5px 0.1px $hover-blue,
        -0.2px -0.2px 5px 0.1px $hover-blue;
    border: 1px solid transparent;
}
.filePreviewContainer {
    display: flex;
    padding: 0.25em 0.75em;
    align-items: center;
}
.filePreview {
    display: inline-block;
}
.removeFileButton {
    font-size: 1.25rem;
    line-height: 0.75;
    padding: 0;
    margin-left: auto;
    color: $button-background-color;
    border: none;
    background-color: white;
    &:hover {
        cursor: pointer;
        color: black;
    }
}
